<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eclipse_3.8.x" sequenceNumber="7">
<locations>
<location path="${project_loc:/cnf}/eclipse_common_3.8" type="Directory"/>
<location path="${project_loc:/cnf}/eclipse_4.4_org.eclipse.osgi_3.10" type="Directory"/>
</locations>
</target>
